<form action="">

    <div class="big-section">
        <div class="firstSection">
            <label class="sectionOne" style="font-family: sans-serif;" for="section">Section</label>
        </div>
        <div style="padding: 12px;">

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Id Piano</label>
                <input style="position: relative; left: 456.5px;" class="" type="">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Pazziente</label>
                <select name="paziente" id="paziente" style="position: relative; left: 450px; width: 250px;">
                    <option>Paziente 1</option>
                    <option>Paziente 2</option>
                    <option>Paziente 3</option>
                </select>
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Da</label>
                <input style="position: relative; left: 492px;" class="" type="Date">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">A</label>
                <input style="position: relative; left: 500px;" class="" type="date">
            </div>

        </div>


        <div class="pianoDiCura">

            <label for="" style="position: relative; bottom: 20px; left: 5px">Piano di cura</label>

            <div class="secondSection">
                <label for="" class="sectionTwo">Section</label>
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Id Procedure</label>
                <input style="position: relative; left: 433px;" class="" type="">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Tipologia Misura</label>
                <select name="paziente" id="paziente" style="position: relative; left: 405px; width: 250px;">
                    <option>Peso Corporeo</option>
                    <option>Altezza</option>
                    <option>Peso</option>
                </select>
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Tolleranza</label>
                <input style="position: relative; left: 450px;" class="" type="text">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Giorno/i</label>
                <input style="position: relative; left: 464px; width: 500px; height:50px" class="" type="text">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Ore</label>
                <input style="position: relative; left: 494px;" class="" type="text">
            </div>

            <div style="position: relative; left: 2px; padding: 5px;">
                <label for="">Minuti</label>
                <input style="position: relative; left: 475px;" class="" type="number">
            </div>

            <div class="soglieInPiano">
                <label for="" class="sectionThree" style="position: relative; bottom: 25px;">Soglie in piano</label>
                <div class="thirdSection">
                    <label for="">Soglie</label>

                </div>
                <div>
                    <label for="" style="position: relative; left: 4px;">Osservabile</label>
                    <select name="osservabile" style="position: relative; left: 50px;">
                        <option value="">Peso Corpeo</option>
                        <option value="">Altezza</option>
                        <option value="">Grandezza</option>
                    </select>
                    <label for="" style="position: relative; left: 370px;">Minimo</label>
                    <input type="text" style="position: relative; left: 570px;">
                    <label for="" style="position: relative; left: 800px;">Massimo</label>
                    <input type="text" style="position: relative; left: 1000px;">
                </div>
                <div class="scrollingSmall">
                    <div class="scrollUpSmall"></div>
                    <div class="scrollDownSmall"></div>
                    <div class="scrollCollapseSmall"></div>
                </div>
            </div>

            <div style="position: relative; left: 1555px; top: 10px;">
                <button style="padding: 5px; margin: 5px;">Collapse All Row</button>
                <button style="padding: 5px;">+ Add Row</button>
            </div>
            
            


            <div class="soglieFuroiPiano">
                <label for="" style="position: relative; bottom: 25px; right: 6px;">Soglie fuori piano</label>
                <div class="thirdSection">
                    <label for="">Soglie</label>

                </div>

                <div>
                    <label for="" style="position: relative; left: 4px;">Osservabile</label>
                    <select name="osservabile" style="position: relative; left: 50px;">
                        <option value="">Peso Corpeo</option>
                        <option value="">Altezza</option>
                        <option value="">Grandezza</option>
                    </select>
                    <label for="" style="position: relative; left: 370px;">Minimo</label>
                    <input type="text" style="position: relative; left: 570px;">
                    <label for="" style="position: relative; left: 800px;">Massimo</label>
                    <input type="text" style="position: relative; left: 1000px;">
                </div>

                <div style="position: relative; left: 1540px; top: 25px;">
                    <button style="padding: 5px; margin: 10px;">Collapse All Row</button>
                    <button style="padding: 5px;">+ Add Row</button>
                </div>



                <div class="scrollingSmallS">
                    <div class="scrollUpSmallS"></div>
                    <div class="scrollDownSmallS"></div>
                    <div class="scrollCollapseSmallS"></div>
                </div>
            </div>

            <div class="scrolling">
                <div class="scrollUp"></div>
                <div class="scrollDown"></div>
                <div class="scrollCollapse"></div>
            </div>

        </div>


    </div>
</form>